.button {
  display: inline-block;
  padding: 7px 10px;
  font-family: $font-title;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-white;
  background-color: $color-green;
  border: none;
  cursor: pointer;
}
