.example {
  background-color: $color-gray-100;
  padding-bottom: 75px;
}

.example__wrapper {
  display: grid;
  grid-template-columns: 280px;
  gap: 20px;
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}

.example__title {
  font-family: $font-title;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-black;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 20px;
}

.example__text {
  font-family: $font-text;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}

.example__table {
  margin: 0;
  padding: 0;
  text-align: center;
}

.example__price {
  text-align: center;
  font-family: $font-title;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-black;
}

.example__slider {
  text-align: center;
  display: flex;
}

.example__button {
  border-width: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    grid-template-columns: 390px 320px;
    grid-template-areas:
      "title title"
      "text text"
      "table price"
      "slider slider";
    width: 720px;
  }

  .example__title {
    grid-area: title;
  }

  .example__text {
    grid-area: text;
  }

  .example__table {
    grid-area: table;
  }

  .example__price {
    grid-area: price;
    text-align: end;
  }

  .example__slider {
    grid-area: slider;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-template-areas:
      "title slider"
      "text slider"
      "table slider"
      "price slider";
    width: 1220px;
  }

  .example__price {
    text-align: start;
  }
}
