.site-list {
  padding: 0;
  font-family: $font-title;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
}

.site-list__link {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    gap: 34px;
  }
}
